.names{
	text-align: left;
	font-size: 15px;

}

.ratings{
	text-align: center;
}
.myMechanics{
	margin-top: 10px;

}
.checked {
  color: orange;
}
*,body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
/* 
html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
} */

a{
	text-decoration: none;
	color: #eee;
}
#mwanzo{
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://i.huffpost.com/gen/3762938/thumbs/o-SEN-1-900.jpg?7") center no-repeat;
	background-size: cover;
	background-repeat: no-repeat
}
header{
	width: 100%;
	height: 100vh;
	
	position: relative;
  overflow: hidden;
}

.container{
	max-width: 100%;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	/* color: #eeeeee; */
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}
 
nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
	
}
#mbele{
	color: rgb(255, 155, 24);

	font-family: 'Poiret One', cursive;
	margin-top: 220px;
	font-size: 40px;
	
}

.brand span{
	color: rgb(255, 155, 24);
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;

}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after

{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: rgb(255, 155, 24);
	left: 0;
	transform: scaleX(0);
	transition: all .5s;

}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

nav ul li a:hover{
	text-decoration-color: none;
	
	
}
.orange{
	color:rgb(255, 155, 24);
}
.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
	
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}
section{
	height:100vh;
	
}
#kubwa{
	margin: 0;
	padding: 0;
	position: absolute; 
	margin-top:240px; 
	transform: translateY(-50%);
	width:100%;
	text-align:center;
	color:#ddd; 
	font-size:6em;
	font-family: sans-serif;
	letter-spacing: 0.1em;
	
}
#kubwa span{
	/*   */
	display: inline-block;
	animation:animate 3s linear forwards; 
}
@keyframes animate
{
0%{
opacity: 0.1;
transform: rotateY(90deg);
filter:blur(10px);
}
0%{
	opacity: 100%;
	transform: rotateY(0deg);
filter:blur(0px);
}
}









































 .allcontacts {
	font-family: 'PT Sans', sans-serif;
	-webkit-column-count: 3; 
  -moz-column-count: 3; 
  column-count: 3;
 }
 .names {
	text-align: left;
	font-size: 15px;
 }
 .ratings {
	text-align: center;
 }
 
 .contact-heading {
	color: black;
 }
 h3:hover{
	 text-decoration: underline overline orange;
 }
 .address-heading{
	 color: black;
	 text-align: center;
 }
 .email-heading{
	 color: black;
	 text-align: center;
 }
 
 .phone {
	margin-left: 110px;
	font-size: 17px;
 }
 .address {
	margin-left: 5px;
	text-align: center;
 }
 .email {
	margin-left: 56px;
 }
 .cont {
	height: 70px;
	color: grey;
	padding-top: 150px;
 }
 .checked {
	color: orange;
 }
 .material-icon2 {
	color: black;
 }