.names{
	text-align: left;
	font-size: 15px;

}

.ratings{
	text-align: center;
}
.myMechanics{
	margin-top: 10px;

}
.checked {
  color: red;
}
#oscar, #john, #jane, #adams, #ken, #bill, #caka, #peter, #eduwin, #sheila, #mwangi, #yussuf, #mwanza, #mercy
{
	display: none;
	border-style: inset;
	padding: 30px;
}
body
{
	background-color: orange;
}
.form1
{
	margin-top: 10px;
	text-align: center;
	border-style: solid;
	margin-bottom: 50px;
	padding: 20px;
}
.logo11{
	background-image: url("../images/logo4.jpeg");
	background-repeat: no-repeat;
	background-position: center;
}
.logo22{
	background-image: url("../images/logo4.jpeg");
	background-repeat: no-repeat;
	background-position: center;
}
h1
{
	font-size: 40px;
	margin-top: 80px;
}
