
.names{
	text-align: left;
	font-size: 15px;

}

.ratings{
	text-align: center;
}
.myMechanics{
	margin-top: 10px;

}
.contact-heading{
	text-align: center;

}
.phone{
	text-align: center;
}
.address{
	text-align: center;
}
.email{
	margin-left: 56px;
}
.cont{
	border: 1px solid black;
	height: 500px;;  	
}
#overlay {
	background-image: url(/images/)
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 69%; /* Full height (cover the whole page) */
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
  }
.checked {
  color: orange;
}
.about{
	text-align: center;
}
hr {
	height:1px; 
	border:none; 
	color:#000; 
	background-color:#000; 
	width:30%; 
	margin: 35%;}
